* {
    height: 100%;
    width: auto;
}

html, body {
    height: 100%;
    width: auto;
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr 30px 4fr;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: #f00;
}

.pokeBallMiddle {
    grid-column: 1 / span 3;
    grid-row: 2;
    height: 100%;
    width: 100%;
    background-color: #f00;
}

.buttonGrid {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.blackMiddle {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: #222224;
}

.pokeBallButton {
    grid-column: 2;
    grid-row: 1 / span 3;
    justify-self: center;
    padding-bottom: 2.5px;
    height: 20px;
    width: 20px;
    background-color: #f0f0f0;
    border: 5px solid #222224;
    border-radius: 180px;
    z-index: 2;
}

.buttonCenter {
    margin: auto;
    margin-top: 20%;
    display: grid;
    height: 10px;
    width: 10px;
    border: 2px solid #222224;
    border-radius: 180px;
}

.whiteBottom {
    grid-column: 1 / span 3;
    grid-row: 3;
    background-color: #f0f0f0;
}