* {
    height: 100%;
    width: auto;
}

html, body {
    height: 100%;
    width: auto;
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
    grid-template-rows: 1fr 30px 4fr;
}

header {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: #f00;
}
